<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Site do projeto_psi</title>
    <link rel="stylesheet" href="estilo.css">
</head>
<body>
    <div>
        <nav>
            <img src="img.png/logo_brasil.png">
            <a href="">Início</a>
            <a href="">Sobre</a>
            <a href="">Jogadores</a>
        </nav>
    </div>
    <header>
        <h1>Seleção Feminina de Futebol</h1>
    </header>
</body>
<footer>
    <h1>Informações adicionais</h1>
</footer>
</html>

