{% extends 'base.html' %}
{% load estilo %}
{% block title %}Jogadoras{% endblock %}
{% block content %}

<h1>Jogadoras<h1>

  {% for jogadora in jogadoras %}
  <div class="card" style="width: 18rem;">
      <img src="{% static jogadora.foto %}" class="card-img-top" alt="{{ atleta.nome }}">
      <div class="card-body">
        <h5 class="card-title">{{ jogadora.nome }}</h5>
        <div class="card-text">
          Idade: {{ jogadora.idade }}<br>
          Local de Nascimento: {{ jogadora.nascimento }}<br>
          Posição: {{ jogadora.posicao }}<br>
        </div>
      </div>
  </div>
  {% endfor %}

{% endblock %}