{% extends 'base.html' %}
{% load static %}

{% block title %}Jogadoras{% endblock %}
{% block content %}

<center><h1>Jogadoras</h1></center>
<div class="container d-flex flex-wrap">
  <div class="row">
    {% for jogadora in jogadoras %}
    <div class="col-md-4 d-flex mb-3">
      <div class="card" style="width: 18rem; padding: 1rem;">
        <img src="{% static jogadora.foto %}" class="card-img-top" alt="{{ jogadora.nome }}" style="width: 100%; height: auto;">
        <div class="card-body d-flex flex-column justify-content-between" style="padding: 1rem;" >
          <h5 class="card-title">
            <p>Nome: {{ jogadora.nome }}</p><br>
            <p>Idade: {{ jogadora.idade }}</p><br>
            <p>Local de Nascimento: {{ jogadora.local_de_nascimento }}</p><br>
            <p>Posição: {{ jogadora.posicao }}</p><br>
          </h5>
        </div>
      </div>
    </div>
    {% endfor %}
  </div>
</div>

{% endblock %}