{% extends 'base.html' %}
{% load static %}
{% block title %}Sobre{% endblock %}
{% block content %}

<center><h1>Sobre</h1></center>

<p>Seleção Brasileira de Futebol Feminino é a equipe que representa o Brasil nas principais competições internacionais femininas. 
Ocupa a nona colocação do Ranking Mundial de Seleções da Federação Internacional de Futebol (FIFA) de 25 de agosto de 2023. 
A Seleção Brasileira feminina disputou sua primeira partida em 1986, quando enfrentou os Estados Unidos em um amistoso internacional 
e foi derrotada por 2 a 1.[7] A partir de 1988, a seleção feminina de futebol passou a ser gerida pela CBF, assim como a seleção masculina. 
Até hoje, a seleção feminina participou de todas as edições da Copa do Mundo Feminina e do Torneio de Futebol dos Jogos Olímpicos. Além disso, 
disputa amistosos internacionais e outras competições como os Jogos Pan-Americanos, o Campeonato Sul-Americano de Futebol Feminino e anualmente
desde 2009 disputa o Torneio Internacional de Futebol Feminino. A Seleção Brasileira de Futebol Feminino é a melhor seleção da América do Sul 
tendo ganhado oito das nove conquistas da Copa América.[8][9]. Além disso, tem a melhor jogadora do mundo, Marta, camisa 10 e eleita por 
5 anos seguidos pela FIFA (de 2006 a 2010) e mais uma vez em 2018 como a melhor jogadora de futebol do planeta.
</p>

{% endblock %}
